.well {
  background-color: midnightblue;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}
